body {
  margin: 0;
}

::-webkit-scrollbar {
  height: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  width: 100vw;
  height: 200vh;
}

.key {
  width: 100vw;
  height: 14.285vh;
  transition: background-color 0.2s ease-in;
}

.key-1, .key-8 {
  background-color: #121212;
}

.key-1.playing {
  background-color: #C92A2A;
}


.key-2, .key-9 {
  background-color: #444;
}

.key-3, .key-10 {
  background-color: #555;
}

.key-4, .key-11 {
  background-color: #666;
}

.key-5, .key-12 {
  background-color: #888;
}

.key-6, .key-13 {
  background-color: #999;
}

.key-6.playing {
  background-color: #fbc0dc;
}

.key-7, .key-14 {
  background-color: #b3b3b3;
}


@media (min-width : 768px) {
  .wrapper {
    flex-direction: row;
    width: 200vw;
    height: 100vh;
  }

  .key {
    height: 100vh;
    width: 14.285vw;
  }
}